html {
    font-family: 'Fira Mono', monospace;
    background-color: #0C160C;
    color: #FFFFFF;
}

body {
}

#hero {
    text-align: center;
}

#hero h1 {
    padding-top: inherit;
    font-size: 3em;
    margin-bottom: 0.3em;
}

#hero .social {
    font-size: 1.4em;
    color: #C8B411
}

#hero h1 a {
    color: #fff;
}

.social a {
    color: #C8B411;
    padding: 0.3em;
}

.social a:hover {
    color: #624800;
}

h1 {
    padding-top: 1.2em;
    font-weight: bold;
}

h2 {
    color: #DFC4FE
}

h1::before {
    content: ">_ ";
    color: #DFC4FE; 
}

a {
    color: #A67A00;
    text-decoration: none;
}

a:hover {
    color: #856200;
}

li {
    list-style: none;
    padding-bottom: 0.8em;
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: 1.2em;
}

#content,nav {
    max-width: 960px;
    margin: auto;
}

nav {
    background-color: #431788;
    padding: 1.1em 0.7em 1.1em 0.7em;
    font-size: 1.1em;
    margin-top: 1.4em;
}

nav a {
    padding-top: .4em;
    padding-right: .9em;
    color: #C8B411;
    font-weight: bold;
}

nav a.active {
    color: #574E00;
}

article p {
    text-align: justify;
}

.tag {
    padding: .3em;
    border-radius: .3em;
}

.tags {
   margin-top: .5em;
   opacity: .6;
}

.tag-1 {
    background-color: #0D4D4D;
}

.tag-2 {
    background-color: #55AA55;
}

dl {
    display: flex;
    flex-flow: row wrap;
}

dt {
    flex-basis: 10%;
    padding: 20px 40px 5px 0px;
    text-align: right;
}

dd {
    padding: 20px 40px 5px 0px;
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
}

@media screen and (max-width: 768px) {

    #hero .social {
        font-size: 2em;
    }

    img {
        max-width: 768px;
    }
}  

@media screen and (max-width: 480px) {
    img {
        max-width: 480px;
    }

    #hero .social {
        font-size: 1.8em;
    }

    dd {
        padding: 0px 40px 5px 0;
    }
}  