html {
    font-family: 'Fira Mono', monospace;
    background-color: #0C160C;
    color: #FFFFFF;
}

body {
}

#hero h1::before {
    content: '';
}

#hero {
    text-align: center;
}

#hero h1 {
    padding-top: inherit;
    font-size: 3em;
    margin-bottom: 0.3em;
}

#hero .social {
    font-size: 1.4em;
    color: #C8B411
}

.social a {
    color: #C8B411;
    padding: 0.3em;
}

.social a:hover {
    color: #624800;
}

h1 {
    padding-top: 1.2em;
    font-weight: bold;
}

h2 {
    color: #DFC4FE
}

h1::before {
    content: ">_ ";
    color: #DFC4FE; 
}

a {
    color: #A67A00;
    text-decoration: none;
}

a:hover {
    color: #856200;
}

li {
    list-style: none;
    padding-bottom: 0.8em;
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: 1.2em;
}

#content,nav {
    max-width: 960px;
    margin: auto;
}

nav {
    background-color: #431788;
    padding: .7em;
    font-size: 1.2em;
    margin-top: 1.4em;
}

nav a {
    color: #C8B411;
}

nav a.active {
    color: #574E00;
}

article p {
    text-align: justify;
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}

#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > a {
    position: relative;
    text-align: left; 
    height: 36px; 
    width: 32px; 
    float: left; 
    text-align: center;
}

#share-buttons > a > svg {height: 16px; fill: #C8B411; margin-top: 10px;}
#share-buttons > a:hover {cursor: pointer;}
#share-buttons > a.facebook:hover > svg {fill: #3B5998;}
#share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
#share-buttons > div.instagram:hover > svg {fill: #C73B92;}
#share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
#share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
#share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}

@media screen and (max-width: 768px) {

    #hero .social {
        font-size: 2em;
    }

    img {
        max-width: 768px;
    }
}  

@media screen and (max-width: 480px) {
    img {
        max-width: 480px;
    }

    #hero .social {
        font-size: 2em;
    }
}  