{{ $style := resources.Get "css/style.css" | minify | fingerprint }}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">

    <script src="https://kit.fontawesome.com/4c09906fcb.js" async></script>
    <script src="/turbo-7.3.0.es2017-umd.js" async></script>

    <link   rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen" />
    <link rel="stylesheet" href="/flexboxgrid-6.3.1.min.css" type="text/css" >
    {{ $title := print .Site.Title " | " .Title -}}
    
    {{ if .Params.canonicalUrl -}}
    <link rel="canonical" href="{{ .Params.canonicalUrl }}">
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ end -}}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

    <title>>_ {{ $title }}</title>
</head>