html {
    font-family: 'Fira Mono', monospace;
    background-color: #0C160C;
    color: #FFFFFF;
}

body {
    padding-left: 2em;
}

#hero {
    text-align: center;
}

#hero h1 {
    padding-top: inherit;
    font-size: 3em;
    margin-bottom: 0.3em;
}

#hero .social {
    font-size: 1.4em;
    color: #A67A00
}

.social a {
    color: #856200
}

.social a:hover {
    color: #624800;
}

h1 {
    padding-top: 1.4em;
    font-weight: bold;
}

h2 {
    color: #DFC4FE
}

h1::before {
    content: ">_ ";
    color: #DFC4FE; 
}

a {
    color: #A67A00;
    text-decoration: none;
}

a:hover {
    color: #856200;
}

li {
    list-style: none;
    padding-bottom: 0.8em;
}

p {
    font-family: 'Faustina', serif;
}

@media screen and (max-width: 768px) {
    body {
        padding-left: 1em;
    }

    #hero .social {
        font-size: 2em;
    }
}  

@media screen and (max-width: 480px) {
    body {
        padding-left: .5em;
    }

    #hero .social {
        font-size: 1.8em;
    }
}

/* zilla-slab-300 - latin */
@font-face {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/zilla-slab-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/zilla-slab-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/zilla-slab-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/zilla-slab-v10-latin-300.woff') format('woff'), /* Modern Browsers */
         url('/fonts/zilla-slab-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/zilla-slab-v10-latin-300.svg#ZillaSlab') format('svg'); /* Legacy iOS */
  }
  
  /* zilla-slab-700 - latin */
  @font-face {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/zilla-slab-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/zilla-slab-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/zilla-slab-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/zilla-slab-v10-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/fonts/zilla-slab-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/zilla-slab-v10-latin-700.svg#ZillaSlab') format('svg'); /* Legacy iOS */
  }
  