{{ define "main" }}

<h1>Artikel</h1>
<h2>2020</h2>
<ul>
    <li>
        09/2020 <a href="https://www.heise.de/hintergrund/Buchrezension-Go-Das-Praxisbuch-4888936.html">Buchrezension: Go – Das Praxisbuch</a>, für <a href="https://www.heise.de/">heise online</a>
    </li>
    <li>
        04/2020 <a href="https://kiosk.entwickler.de/entwickler-magazin/entwickler-magazin-3-2020/einfuehrung-in-go-module/">Einführung in Go-Module (Infografik)</a>, für <a href="https://entwickler.de/entwickler-magazin">Entwickler Magazin</a>
    </li>
</ul>
<h2>2019</h2>
<ul>
    <li>
        10/2019 "Go Modules revisited - Des Gophers neue Kleider" für <a href="https://entwickler.de/entwickler-magazin">Entwickler Magazin</a>
    </li>
    <li>
        09/2019 <a href="https://jaxenter.de/go-modules-revisited-86756">Go Modules Revisited: Aktiv by default</a> für <a href="https://jaxenter.de">JAXEnter</a>
    </li>
    <li>
        05/2019 <a href="https://entwickler.de/leseproben/go-buffalo-579902227.html">Go Buffalo - das vollständigste Ökosystem für Webanwendungen mit Go</a> für <a href="https://entwickler.de/entwickler-magazin">Entwickler Magazin</a>
    </li>
    <li>
        02/2019 "Go Modules - was es mit den neuen Modulen in Go auf sich hat", für <a href="https://entwickler.de/entwickler-magazin">Entwickler Magazin</a>
    </li>
</ul>
<h2>2018</h2>
<ul>
    <li>
        10/2018 <a href="https://jaxenter.de/go-modules-go-1-11-75835">Go Modules - was es mit den neuen Modulen in
            Go auf sich hat</a>, <a href="https://devopsconference.de/blog/go-1-11-new-modules/">Go 1.11: What the
            new modules in Go are all about</a> für <a href="https://jaxenter.de">JAXEnter</a>
    </li>
</ul>
<h2>2017</h2>
<ul>
    <li>
        07/2017 <a href="https://jaxenter.de/google-go-golang-java-55356">Google Go für Java-Entwickler</a> für
        <a href="https://jaxenter.de/magazine/java-magazin">JavaMagazin</a>
    </li>
    <li>
        05/2017 <a href="https://www.informatik-aktuell.de/entwicklung/programmiersprachen/go-parallel.html">Go
            Parallel</a>
        für <a href="https://www.informatik-aktuell.de">Informatik Aktuell</a>
    </li>
</ul>
<h2>2016</h2>
<ul>
    <li>
        11/2016 <a href="https://jaxenter.de/groove-your-jenkins-49423">Groove your Jenkins</a> <a href="https://www.ppi.de/fileadmin/user_upload/Software-Entwicklung/Presse/Jm_Groove_your_Jenkins_08.16.pdf"><i class="fas fa-file-pdf" alt="Groove your Jenkins (PDF)"></i></a> für
        <a href="https://jaxenter.de/magazine/java-magazin">JavaMagazin</a>
    </li>
</ul>
<h2>2014</h2>
<ul>
    <li>
        11/2014 <a href="https://jaxenter.de/elefant-unter-strom-270">Elefant unter Strom</a> für
        <a href="https://jaxenter.de/magazine/java-magazin">JavaMagazin</a>
    </li>
</ul>
<h2>2013</h2>
<ul>
    <li>
        4-teilige Serie <a href="https://jaxenter.de/modulare-enterprise-osgi-anwendungen-lets-transact-4-3725">OSGi
            goes
            Enterprise</a> für <a href="https://jaxenter.de/magazine/eclipse-magazin">EclipseMagazin</a>
    </li>
</ul>
<h2>2010</h2>
<ul>
    <li>
        <a href="https://jaxenter.de/tests-frisch-gemixt-mit-mockito-2-7468">Tests frisch gemixt mit Mockito</a> für
        <a href="https://jaxenter.de/magazine/java-magazin">JavaMagazin</a>
    </li>
</ul>
<h1>Vorträge</h1>

<h2>2021</h2>
<ul>
    <li>
        06/2021 <a href="https://www.developer-week.de">Developer Week '21</a>, 
        <a href="https://www.developer-week.de/programm/#/talk/java-to-go-google-go-fur-java-entwickler">Java to Go – Google Go für Java-Entwickler</a>
    </li>
</ul>
<h2>2018</h2>
<ul>
    <li>
        08/2018 <a href="https://docs.google.com/presentation/d/1NZrvgruD7Sn9lh6eA6xj65iYqIWX6ZjX-fPefOg16Dk/edit?usp=sharing">Go
            Modules</a>
        <a href="https://raw.githubusercontent.com/remast/remast.github.io/develop/talks/2018-08-23_GoMeetupHH_Go_Modules.pdf"><i class="fas fa-file-pdf" alt="Go
            Modules (PDF)"></i></a> beim <a href="https://www.meetup.com/de-DE/Go-User-Group-Hamburg/">Go
            Meetup Hamburg</a>
    </li>
</ul>
<h2>2017</h2>
<ul>
    <li>
        03/2017 <a href="https://go-talks.appspot.com/github.com/remast/remast.github.io/talks/2017-03_parallel_Go-Parallel/go-parallel.slide">Go
            Parallel</a>
        auf der <a href="https://www.parallelcon.de/">parallel 2017</a>
    </li>
</ul>
<h2>2016</h2>
<ul>
    <li>
        09/2016 <a href="https://raw.githubusercontent.com/remast/remast.github.io/develop/talks/2016-09_BPMCon_Camunda_HanseMerkur.pdf">Camunda
            BPM bei der Hansemerkur</a>
        auf der <a href="https://camunda.com/events/camundacon/">BPMCon 2016</a>, Video bei
        <a href="https://vimeo.com/186233436">Vimeo</a>
    </li>
</ul>
<h2>2015</h2>
<ul>
    <li>
        05/2015 <a href="https://raw.githubusercontent.com/remast/remast.github.io/develop/talks/2015-05_JUGS_HH_Elefant_unter_Strom.pdf">Elefant
            unter Strom</a>
        für die <a href="http://www.jughh.de">Java User Group Hamburg</a>
    </li>
</ul>
<h2>2013</h2>
<ul>
    <li>
        07/2013 <a href="https://raw.githubusercontent.com/remast/remast.github.io/develop/talks/2013-07_EclipseDemoCamp_OSGi_goes_Enterprise.pdf">OSGi
            goes Enterprise</a> für Eclise Demo Camp Stuttgart
    </li>
    <li>
        2013 "Gurkensalat statt Spaghetticode" auf den Stuttgarter Testtagen 2013
    </li>
</ul>
{{ end }}